@font-face
    font-family: "flat"
    src: url("../../public/fonts/Flaticon.woff")


@font-face
    font-family: "bilou2"
    src: url("../../public/fonts/bilou.woff")

@font-face
    font-family: "suck"
    src: url("../../public/fonts/suck.ttf")


@font-face
    font-family: "bilou4"
    src: url("../../public/fonts/Designero.ttf")

@font-face
    font-family: "splash"
    src: url("../../public/fonts/Splatch.ttf")