@import "../../node_modules/bootstrap/scss/bootstrap.scss"
@import "./_font"
@import "./_icon"
@import ./_variable


body
    margin: 0
    

    #section1
        border: none

        


        // border: red solid

        img
            // border: solid red
            

        #texte
            border: solid yellow 3px
            position: absolute
            bottom: 10px
            left: 100px
            display: flex
            flex-direction: column
            align-items: center
            text-align: center

            
            

            p
                font-size: 33px
                text-align: center
                font-family: vidal
                color: white
                // font-style: italic
                margin-left: 280px
                margin-right: 300px

                .span1
                    color: red
                    font-family: vidal
                    font-size:  59px

                .span2
                    font-size: 49px
                    

                .span3
                    font-size:  49px
                
                .span5
                    font-size:  59px


                 



            .span4
                display: flex
                justify-content: space-between
                border: red solid
                button
                    border-radius: 26px
                    height: 43px
                    border: none
                    margin: 5px
                    &:hover

                        background-color: red
                        color: white
                        
                

                
                


        

        #carouselExampleSlidesOnly
            
            

            
            

            #sectionnav
                // border: solid blue
                
                

                #nav
                    border: solid green 20px
                    position: absolute
                    bottom: 750px
                    left: 190px
                    
                    #navbarSupportedContent
                        // border: solid purple 1px


                        .row

                            .col-5
                                // border: dotted blue 8px
                                display: flex
                                align-items: center
                                
                                

                                .navbar-nav
                                    display: flex
                                    align-items: center
                                    // flex-wrap: nowrap
                                    border-top: white solid 1px
                                    border-bottom: white solid 1px
                                    width: 389px


                                    li
                                        a
                                            color: white


                               
                                

                            .col-2
                                // border: black solid
                                display: flex
                                align-items: center
                                
                                img
                                    width:45%
                                    margin-left: 29px

                                



            .carousel-inner
                
                margin: 0px



                .carousel-item
                    // border: yellow solid 3px
                    img
                        // border: solid green 20px
                        filter: brightness(10%) blur(6px)
                        width: 100%
                        
    #section2
        border: red solid
        background-image: url(../../public/images/main_bg.jpg)


        .section22
            border: blue solid

            .row
                border: solid red

                // #col5
                //     border: RED SOLID
                    
                //     .card
                //         border: pink solid
                //         width: 450px
                //         .card-body
                //             border: dotted green
                //             display: flex
                           

                
                
                

                .col-5

                    .row2
                        border: red solid 2px
                        display: flex
                        flex-direction: columns
                        align-items: center
                        .col-1
                            background-color: lightgray
                            display: flex
                            
                            align-self: center
                            
                            .texte3
                                
                                color: red
                                
                                




                        .col-4
                            border: purple solid
                            img
                                width: 99%

                        .col-7
                            border: pink solid 5px
                            display: flex
                            align-items: center
                            .span2
                                border: Yellow solid
                                .texte1
                                    color: black

                                .texte2

                                

                            

                        
                        
                    
                   

                    



                        

                






                .col-2
                    // border: dotted purple
                    display: flex
                    align-items: center
                    border-right: solid lightgray 1px
                    border-bottom: solid lightgray 1px

                    ul
                        // border-bottom: solid lightgray 1px
                        list-style: none
                        // border-bottom: solid lightgray 1px
                        
                        // display: flex
                        // align-items: center
                        li
                            // border-bottom: solid lightgray 1px
                            list-style: none
                            // border-left: solid lightgray 1px
                            // border: dotted red
                            i
                                // border: purple solid
                                opacity: 22%
                            
                            h4
                                font-family: vidal
                                margin-left: 5px
                            hr
                                width: 142px
                                margin-right: 40px
                                border: red solid 1px
                

                    







        .section21
            background-color: white

            border: solid blue
            margin-top: 30px
            margin-left: 70px
            margin-right: 70px
            .img1
                border: red solid
                position: absolute
                top: 940px


            .img2
                border: red solid
                position: absolute
                top: 940px
                left:1130px

            .img3
            h3
                font-size: 35px
                font-family: vidal
                border: dotted red
                text-align: center
                .span1
                    color: red

            p
                // border: solid blue
                margin-left: 260px
                margin-right: 260px
                text-align: center

                .span1
                    color: red 


                


    
        
        

       



           



               


                   



                   


                   

                       



                       

                           



                           
                        

                           


                           


                        
                        
                    

                    

                        






                

                
                    

                    

                        
                            

                


           
       


        

                    
        


    

       
   

   

        


   
    








