@import "../../node_modules/bootstrap/scss/bootstrap.scss"
@import "./_font"
@import "./_icon"
@import ./_variable


body
    .divfoot
        background-color: red
        height: 48px
        width: 490pw
        position: relative
        bottom:20px
        

    margin: 0
    #footer
        background-image: url(../../public/images/footer_background.jpg)
        // border: solid black
        background-repeat: norepeat


        
            
        p
            color: white
        h4
            color: white
        #mainrow
            // border: blue solid
            // border: dotted green
            .row21
                // border: BLUE SOLID
                display: flex
                justify-content: space-between
                flex-direction: row
                i
                    color: rgb(255, 255, 250)
                    
            .row22
                // border: yellow solid
                margin-top: 20px
            #secondaryrow
                // border: solid green
                display: flex
                margin-top: 10px
            .col41
                // border: blue solid
            .col42 
                // border: green solid
            .col43 
                // border: yellow solid  
            .col-4
                display: flex
                flex-direction: column
                align-content: center
                
                
                h4
                    font-weight: bold
                    color: white
                    width: 23px
                    font-size: 20px
                button
                    background-color: red
                    border-radius: 23px
                    color: white
                    border: none
                    height: 40px
                    border: solid white 1px
                    margin-top: 10px
                    // margin: 20px
                    

                .button1
                .button2
                .button3
                .button4
                .button5
                .button6
                .button7
                .button8
                .button9
           

    #section6
        // border: SOLID BLACK
        display: flex
        flex-direction: column
        align-items: center
        .divsection6
            height: 370px
            width: 370px
            border-radius: 12px
            // border: solid pink 
            background-color: red
            display: flex
            // justify-content: space-around
            
            .row
                // border: blue solid
                display: flex
                flex-direction: row

                .col-12                
                    // border: yellow solid 1px
                    display: flex
                    flex-direction: column
                    align-items: center
                    
                    hr
                        border: solid white 0.8px
                        width: 330px
                    
                    i
                        color: rgb(255, 255, 255) 
                        
                    .texte2
                        color: white
                        // border: solid green
                        text-align: center
        h3
            color: black
            font-family: vidal
            text-align: center
            span
                color: red
                font-family: vidal
    #section5
        background-image: url("../../public/images/testimonials_background.jpg")
        .row
            .col-2
                // border: solid red
                display: flex
                justify-content: space-around
                img
                    border: white 4px solid
                    border-radius: 50%
                    width: 96%

            .col-4
                // border: blue solid
                display: flex
                justify-content: space-around
                .divcol
                    height: 200px
                    width: 300px
                    background-color: #11ffee00
                    border: solid white 1px
                    border-radius: 3px
                    p
                        color: white
                    .p
                        color: red
                    h4
                        color: white
                .divcol2

        h3
            font-family: vidal
            color: white
            text-align: center
            span
                font-family: vidal
                color: red

    #section4
        .imbl
            position: relative
            left: 950px
            bottom: 0px
            // border: solid red

        .imbr
            position: relative
            bottom: 0px
            right: 150px
        .imtl
            position: relative
            bottom: 1294px
            right: 270px
            
        .imtr
            position: relative
            bottom: 1294px
            left: 581px
            // border: red solid
        
        // border: red
        
       
        background-color: white
        margin-top: 100px
        // margin-right: 1970px
        // margin-left: 470px
        
        
        
        .button
            // border: solid yellow
            position: relative
            left: 193px
            
        #sectioninsta
            // border: solid black
            .divprix2

                background-color: red
                width: 350px
                height: 40px
                border-radius: 5px
                position: relative
                top: 259px
                z-index: 1
                left: 659px
                p
                    color: white
                    span
                        font-style: bold
                        color: white
                        font-weight: bold
                        font-size: 26px
            .divprix

                background-color: red
                width: 350px
                height: 40px
                border-radius: 5px
                position: relative
                top: 292px
                z-index: 1
                left: 96px
                p
                    color: white
                    span
                        font-style: bold
                        color: white
                        font-weight: bold
                        font-size: 26px
            .row
                // border: solid yellow
                #col6
                    display: flex
                    flex-direction: column
                    span
                        // border: blue solid
                        margin-left: 90px
                        margin-right: 90px
                        p
                        h5
                    
                        
                    
                .col-6
                    // border: solid green
                    display: flex
                    justify-content: space-around
                    
                    
                    img
                        border: solid lightgray 4px
                        width: 350px
                        height: 250px
                        border-radius: 11px 
                    
                        
                        

        button

            border: none
            margin-left: 270px
            margin-top: 58px
            height: 49px
            width: 120px
            border-radius: 23px
            color: white
            background-color: red
        #containercarte
            // #sectionlegume
            //     border: solid blue
                .row
                    // border: dotted pink 3px
                    .col-6
                        // border: solid red
                        img
                            // border: dotted green
                            
            #sectionform
                background-image: url(../../public/images/book_table_bg.jpg)
                height: 500px
                width: 700px
                // border: red solid
                border-radius: 12px
                
                .row
                    // border: solid purple

                    
                    #col61
                        // border: dotted purple
                        display: flex
                        align-items: center
                        flex-direction: column
                        .input1
                            // border: solid green
                            margin-top: 12px
                            border: none
                            border-radius: 6px
                            height: 37px
                        .input2
                            // border: solid green
                            margin-top: 12px
                            border: none
                            border-radius: 6px
                            height: 37px
                        .input3
                            // border: solid green
                            margin-top: 12px
                            border: none
                            border-radius: 6px
                            height: 37px
                        .input4
                            // border: solid green
                            margin-top: 12px
                            border: none
                            border-radius: 6px
                            height: 37px
                        .input5
                            // border: solid green
                            margin-top: 12px
                            border: none
                            border-radius: 6px
                            height: 37px
                        .input6
                            // border: solid green
                            margin-top: 12px
                            border: none
                            border-radius: 6px
                            height: 37px
                        .input7
                            // border: solid green
                            margin-top: 12px
                            border: none
                            border-radius: 6px
                            height: 37px
                        .input8
                            // border: solid green
                            margin-top: 12px
                            border: none
                            border-radius: 6px
                            height: 37px

                        
                            


                    #col62
                        // border: dotted red
                        display: flex
                        align-items: center
                        flex-direction: column
                        input
                            
                            margin-top: 12px
                            border: none
                            border-radius: 6px
                            height: 37px
                p
                    text-align: center
                    color: white


            h3
                color: black
                text-align: center
                font-family: vidal
                span
                    color: red
                    font-family: vidal 



    #section3
        // border: yellow solid
        background-color: black

        #containerimg
            // border: red solid
            background-color: black
            h3
                text-align: center
                font-family: vidal
                color: white
                span
                    color: red
                    font-family: vidal
            
            
        
            .row
                // border: solid green
                // display: flex
                // flex-wrap: nowrap
        
                .col-3
                    // border: dotted green
                    p
                        text-align: center
                        color: white
                        position: relative
                        bottom: 25px
                        
                    hr
                        color: white
                        border: solid white 1px
                        position: relative
                        bottom: 14px
                        
                    img
                        // border: solid pink
                        
                        



    

    
            





        


        
        
    

    #section1
        border: none

        


        // border: red solid

        img
            // border: solid red
            

        #texte
            // border: solid yellow 3px
            position: absolute
            bottom: 110px
            left: 140px
            display: flex
            flex-direction: column
            align-items: center
            text-align: center

            
            

            p
                font-size: 33px
                text-align: center
                font-family: vidal
                color: white
                // font-style: italic
                margin-left: 280px
                margin-right: 300px

                .span1
                    color: red
                    font-family: vidal
                    font-size:  59px

                .span2
                    font-size: 49px
                    

                .span3
                    font-size:  49px
                
                .span5
                    font-size:  59px


                 



            .span4
                display: flex
                justify-content: space-between
                // border: red solid
                button
                    border-radius: 26px
                    height: 43px
                    border: none
                    margin: 5px
                    &:hover

                        background-color: red
                        color: white
                        
                

                
                


        

        #carouselExampleSlidesOnly
            
            

            
            

            #sectionnav
                // border: solid blue
                
                

                #nav
                    // border: solid green 20px
                    position: relative
                    bottom: 748px
                    left: 40px
                    
                    #navbarSupportedContent
                        // border: solid purple 1px


                        .row

                            .col-5
                                // border: dotted blue 8px
                                display: flex
                                align-items: center
                                
                                

                                .navbar-nav
                                    display: flex
                                    align-items: center
                                    // flex-wrap: nowrap
                                    border-top: white solid 1px
                                    border-bottom: white solid 1px
                                    width: 389px


                                    li
                                        a
                                            color: white
                                        &:hover
                                            background-color: red


                               
                                

                            .col-2
                                // border: black solid
                                display: flex
                                align-items: center
                                
                                img
                                    width:45%
                                    margin-left: 29px

                                



            .carousel-inner
                
                margin: 0px



                .carousel-item
                    // border: yellow solid 3px
                    img
                        // border: solid green 20px
                        filter: brightness(40%) blur(6px)
                        width: 100%
                        
    #section2
        // border: red solid
        background-image: url(../../public/images/main_bg.jpg)
        background-repeat: no repeat
        


        .section22
            // border: blue solid

            
        

            .row
                // border: solid red

                // #col5
                //     border: RED SOLID
                    
                //     .card
                //         border: pink solid
                //         width: 450px
                //         .card-body
                //             border: dotted green
                //             display: flex
                           

                
                
                

                .col-5

                    .row2
                        // border: red solid 2px
                        display: flex
                        flex-direction: columns
                        align-items: center
                        border-bottom: solid black 0.6px
                        border-top: solid black 0.6px
                        .col-1
                            background-color: lightgray
                            display: flex
                            
                            align-self: center
                            
                            .texte3
                                
                                color: red
                                padding-right: 20px
                                
                                




                        .col-4
                            // border: purple solid
                            border-radius: 78%
                            img
                                width: 99%
                                border-radius: 78%

                        .col-7
                            // border: pink solid 5px
                            display: flex
                            align-items: center
                            .span2
                                // border: Yellow solid
                                .texte1
                                    color: black

                                .texte2

                                

                            

                        
                        
                    
                   

                    



                        

                






                .col-2
                    // border: dotted purple
                    display: flex
                    align-content: center
                    border-right: solid lightgray 1px
                    border-bottom: solid lightgray 1px

                    ul
                        // border-bottom: solid lightgray 1px
                       
                        // border-bottom: solid lightgray 1px
                        
                        display: flex
                        align-items: center
                        // border: dotted green
                        // margin-right: 20px
                        flex-direction: column
                        padding: 0px
                        
                        li
                            // border-bottom: solid lightgray 1px
                            list-style: none
                            // border-left: solid lightgray 1px
                            // border: dotted red
                            // padding-right: 0px
                            // padding-left: 20px
                            &:hover
                                border-right: solid red 2px
                                
                            i
                                // border: purple solid
                                color: lightgray
                                
                                &:hover
                                    color: rgb(233, 33, 33)
                            
                            h4
                                font-family: vidal
                                margin-left: 5px
                            hr
                                width: 142px
                                margin-right: 40px
                                // border: red solid 1px
                

                    







        .section21
            background-color: white

            // border: solid blue
            margin-top: 30px
            margin-left: 70px
            margin-right: 70px
            .img1
                // border: pink solid
                position: relative
                bottom: 429px


            .img2
                // border: red solid
                position: relative
                bottom: 429px
                left:678px

            .img3

                // border: green dotted
                position: relative
                bottom: 0px
                left:840px

            .img4
                // border: GREEN solid
                position: relative
                bottom: 0px
                right: 130px


                

            h3
                font-size: 35px
                font-family: vidal
                // border: dotted red
                text-align: center
                .span1
                    color: red

            p
                // border: solid blue
                margin-left: 260px
                margin-right: 260px
                text-align: center

                .span1
                    color: red 


                
@media (min-width: 768px)
    // p
    //     margin: 0px

@media (min-width: 998px)
    // #texte
    //     border: solid red
    // p 
    //     margin: 0px


@media (min-width: 576px)
    // p
    //     margin: 0px

    
        
        

       



           



               


                   



                   


                   

                       



                       

                           



                           
                        

                           


                           


                        
                        
                    

                    

                        






                

                
                    

                    

                        
                            

                


           
       


        

                    
        


    

       
   

   

        


   
    








